<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Accessibility - <%= data.user.firstname %></title>
    <link rel="icon" type="image/png" href="/images/browserIcon.png" />
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="stylesheet" href="/assets/admin.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="background">
      <img src="/images/index.svg" alt="Background" />
    </div>
    <!-- Header -->
    <header class="dark-light-background">
      <div id="logo">
        <h1 style="transform: translateY(-5%);">
          <a
            class="light"
            href="/home/<%= data.user.username %>?k=<%= data.user._id %>"
            ><i class="fas fa-caret-left"></i> Articlez
          </a>
        </h1>
      </div>
    </header>
    <!-- Body Cont -->
    <div id="bodyCont">
      <p id="numberOfUsers"><%= data.allUsers.length %> users</p>
      <input id="searchBar" type="search" placeholder="Search name, email, username, password, or role.">
      <!-- Loops through users here -->
      <div id="allUsersCont">
        <% data.allUsers.forEach((currentuser, i) => { %>
        <div id="userBox<%= currentuser._id %>" class="user-box">
            <!-- Side btns -->
            <% if (currentuser.rank !== 'owner' && currentuser.username !== data.user.username) { %>
          <div class="side-btns">
            <form action="/admin/promote/<%= data.user._id %>?k=<%= currentuser._id %>" method="POST" >
              <button
                class="promote-btn side-btn orange-background light"
                type="submit"
              >
                <i class="fas fa-plus"></i>
              </button>
            </form>
            <form action="/admin/demote/<%= data.user._id %>?k=<%= currentuser._id %>" method="POST" >
              <button
                class="demote-btn side-btn dark-background light"
                type="submit"
              >
                <i class="fas fa-minus"></i>
              </button>
            </form>

             <form data-username="<%= currentuser.username %>" id="deleteForm<%= currentuser._id %>" action="/admin/deleteaccount/<%= data.user._id %>?k=<%= currentuser._id %>" method="POST" onsubmit="return false" >
              <button
                data-username="<%= currentuser.username %>" 
                class="delete-btn side-btn red-background light"
                type="submit"
                id="deleteBtn<%= currentuser._id %>"
              >
                <i class="fas fa-times"></i>
              </button>
            </form>

          </div>
            <% } %>
            <!-- End side btns -->
          <ul>
            <li>F: <%= currentuser.firstname %></li>
            <li>L: <%= currentuser.lastname %></li>
            <li>E: <%= currentuser.email %></li>
            <li>U: <%= currentuser.username %></li>
            <li>P: <%= currentuser.password %></li>
          <li <% if (currentuser.rank === 'owner') { %> class="orange" <% } else if (currentuser.rank === 'admin') { %>class="dark" <% } %> >R: <%= currentuser.rank %></li>
          </ul>
          <div class="user-box-number"><%= i + 1 %>.</div>
        </div>
        <% }) %>
      </div>
      <!-- End looping through users -->
    </div>
    <!-- Script Section -->
    <script>
      // Search Bar
      const userBoxes = document.querySelectorAll('.user-box');
      const searchBar = document.getElementById('searchBar');
      searchBar.addEventListener('keyup', (e) => {
        const searching = e.target.value;
        userBoxes.forEach((userBox, i) => {
          if (!searching) {
            userBox.style.display = 'block';
          } else {
            if (!userBox.innerText.toLowerCase().includes(searching.toLowerCase())) {
              userBox.style.display = 'none';
            } else {
              userBox.style.display = 'block';
            }
          }
        })
      })
      // Delete User
      const deleteBtns = document.querySelectorAll('.delete-btn');
      deleteBtns.forEach(deleteBtn => {
        deleteBtn.addEventListener('click', async () => {
          let userid = deleteBtn.id.slice(9)
          let confirmation = confirm(`Are you would like to delete ${deleteBtn.getAttribute('data-username')}`);
          if (confirmation) {
            try {
              const response = await fetch(`/admin/deleteaccount/<%= data.user._id %>?k=${userid}`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                adminid: `<%= data.user._id %>`,
                userid: userid,
              })
            });
            const resJson = await response.json();
            if (resJson.response === 'success') {
              const userBox = document.getElementById(`userBox${userid}`);
              const sideBtns = document.querySelectorAll(`#userBox${userid} .side-btn`);
              userBox.setAttribute('style', 'background-color: rgb(204, 32, 32); opacity: .50;') 
              sideBtns.forEach(sideBtn => {
                sideBtn.setAttribute('style', 'display: none;')
              })

            }
            } catch(err) {
              console.error(err);
            }
            
          }
        })
      });
      
    </script>
  </body>
</html>
