<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.user.firstname %>'s Articles</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/png" href="/images/browserIcon.png" />
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="stylesheet" href="/assets/home.css" />
    <link rel="stylesheet" href="/assets/myarticles.css" />
  </head>
  <body>
    <div id="background">
      <img src="/images/index.svg" alt="Background" />
    </div>
    <!-- Start of Settings Menu -->
    <div id="settingsMenu">
      <div id="settingsTitle">
        <i id="exitSettingsMenu" class="fas fa-times"></i>
        <h1><%= data.user.firstname %>'s Settings</h1>
      </div>
      <hr />
      <div id="settingsCont">
        <ul>
          <li id="openChangeNameMenu">
            <i class="fas fa-signature"></i>&nbsp;&nbsp;Change Name
          </li>
          <li id="openChangeEmailMenu">
            <i class="fas fa-envelope"></i>&nbsp;&nbsp;Change Email
          </li>
          <li id="openChangePasswordMenu">
            <i class="fas fa-lock"></i>&nbsp;&nbsp;Change Password
          </li>
        </ul>
        <% if (data.user.rank === 'admin' || data.user.rank === 'owner') { %>
        <a href="/admin/<%= data.user.username %>?k=<%= data.user._id %>"
          ><i id="adminAccessBtn" class="fas fa-key"></i
        ></a>
        <% } %>
        <div id="deleteAccountBtn">Delete Account</div>
      </div>
    </div>
    <div id="changeNameMenu" class="side-menu">
      <div class="side-menu-title">
        <i
          id="closeChangeNameMenu"
          class="exit-side-menu fas fa-arrow-right"
        ></i>
        <h1>Change Name</h1>
      </div>
      <hr />
      <div class="side-menu-cont">
        <div class="side-menu-cont-row">
          <h3>
            Current name:
            <b id="namePreview"
              ><%= data.user.firstname %> <%= data.user.lastname %>
            </b>
          </h3>
        </div>
        <form
          class="side-menu-cont-row"
          method="POST"
          action="/settings/changename/<%= data.user._id %>/home"
          onsubmit="return false"
        >
          <input
            id="newFirstname"
            type="text"
            name="newFirstname"
            placeholder="Change firstname"
            required
            class="settings-input"
          />
          <input
            id="newLastname"
            type="text"
            name="newLastname"
            placeholder="Change lastname"
            required
            class="settings-input"
          />
          <button id="submitNewName" type="submit">Submit!</button>
        </form>
      </div>
    </div>
    <div id="changeEmailMenu" class="side-menu">
      <div class="side-menu-title">
        <i
          id="closeChangeEmailMenu"
          class="exit-side-menu fas fa-arrow-right"
        ></i>
        <h1>Change Email</h1>
      </div>
      <hr />
      <div class="side-menu-cont">
        <div class="side-menu-cont-row">
          <h3>
            Current email:
            <b id="emailPreview"><%= data.user.email %></b>
          </h3>
        </div>
        <form
          class="side-menu-cont-row"
          method="POST"
          action="/settings/changeemail/<%= data.user._id %>/home"
          onsubmit="return false"
        >
          <input
            id="newEmail"
            type="email"
            name="newEmail"
            placeholder="Change email"
            required
            class="settings-input"
          />
          <button id="submitNewEmail" type="submit">Submit!</button>
        </form>
      </div>
    </div>
    <div id="changePasswordMenu" class="side-menu">
      <div class="side-menu-title">
        <i
          id="closeChangePasswordMenu"
          class="exit-side-menu fas fa-arrow-right"
        ></i>
        <h1>Change Password</h1>
      </div>
      <hr />
      <div class="side-menu-cont">
        <form
          class="side-menu-cont-row"
          method="POST"
          action="/settings/changepassword/<%= data.user._id %>/home"
          id="changePasswordForm"
          onsubmit="return false"
        >
          <input
            id="currentPassword"
            type="password"
            name="currentPassword"
            placeholder="Current password"
            required
            class="settings-input"
          />
          <input
            type="password"
            id="newPassword"
            name="newPassword"
            placeholder="New password"
            required
            class="settings-input"
          />
          <button id="changePasswordSubmit" type="submit">Submit!</button>
        </form>
      </div>
    </div>
    <!-- New Article Form -->
    <form
      action="/home/myarticles/<%= data.user.username %>?k=<%= data.user._id %>"
      method="POST"
      id="newArticleForm"
    >
      <i id="closeForm" class="far fa-times-circle"></i>
      <div>
        <label id="titleLabel" class="light" for="title">Title</label>
        <input
          type="text"
          id="titleInput"
          name="title"
          class="light-background"
          required
        />
        <p id="characterLimit">50 Characters Left</p>
      </div>
      <div>
        <label class="light" for="title"
          >Text
          <span id="characterLimitText"> - 5000 Characters Left</span></label
        >
        <textarea
          name="text"
          id="text"
          cols="30"
          rows="10"
          class="light-background"
          required
        ></textarea>
      </div>
      <button type="submit" class="orange-background dark">Publish</button>
    </form>
    <header class="dark-light-background">
      <div id="logo">
        <h1 style="transform: translateY(-5%);">
          <a
            class="light"
            href="/home/<%= data.user.username %>?k=<%= data.user._id %>"
            >Articlez</a
          >
        </h1>
      </div>
      <ul style="width: 450px;">
        <li>
          <a
            class="light"
            href="/home/<%= data.user.username %>?k=<%= data.user._id %>"
            >Home</a
          >
        </li>
        <li>
          <a
            style="border-top: 2px solid white; border-bottom: 2px solid white;"
            class="light"
            href="/home/myarticles/<%= data.user.username %>?k=<%= data.user._id %>"
            >My Articles</a
          >
        </li>
        <li id="logoutBtn" class="orange">Log out</li>
      </ul>
    </header>
    <!-- Info button at bottom left -->
    <div class="info-cont dark-background">
      <i id="infoBtn" class="fas fa-info"></i>
      <div id="infoFormCont">
        <p>
          Have any ideas you would like to see be added to Articlez in the
          future? Make a request!
        </p>
        <form
          id="infoForm"
          action="/email/home?k=<%= data.user._id %>"
          method="POST"
          onsubmit="return false"
        >
          <textarea
            name="messageRequest"
            id="messageRequest"
            cols="30"
            rows="10"
            placeholder="Type your request here..."
            required
          ></textarea>
          <button class="orange-background" type="submit">Send!</button>
        </form>
      </div>
    </div>
    <!-- Body Content -->
    <div class="body-cont">
      <div id="title" class="row">
        <h2>My Articles <span>&nbsp; - all personal articles</span></h2>
        <p id="openForm">
          <i class="fas fa-plus"></i>&nbsp; Publish New Article
        </p>
      </div>
      <i id="openSettingsMenu" class="fas fa-cog"></i>
      <!-- Start of articles -->
      <% if (data.articles.length === 0) { %>
      <div class="no-articles">
        <h1>
          <i class="fas fa-info-circle"></i>&nbsp; You have not published any
          articles
        </h1>
      </div>
      <% } %> <% data.articles.reverse().forEach((article, i) => { %>
      <div id="article<%= i %>" class="article">
        <i id="trash<%= article._id %>" class="fas fa-trash-alt trash-icon"></i>
        <div class="blur">
          <p id="readMoreBtn<%= i %>" class="read-more">Read More</p>
        </div>
        <div class="article-heading">
          <h1><%= article.title %></h1>
          <h4><%= article.date.toLocaleDateString() %></h4>
        </div>
        <hr />
        <p class="article-text">
          <%= JSON.stringify( article.text ) %>
        </p>
        <div class="author">
          <p>
            by <%= article.author.firstname %> <%= article.author.lastname %> -
            @<%= article.author.username %> <% if (article.author.rank ===
            'owner') {%> &nbsp; <i class="fas fa-key orange"></i> <% } else if
            (article.author.rank === 'admin') { %> &nbsp;
            <i class="fas fa-certificate dark-light"></i> <% } %>
          </p>
        </div>
      </div>
      <% }) %>
      <!-- End of Articles -->
    </div>
    <!-- Start of hidden forms -->
    <form
      action="/logout?k=<%= data.user._id %>"
      method="POST"
      id="logoutForm"
      class="display-none"
    ></form>
    <form
      method="POST"
      action="/home/deletearticlehome?k=<%= data.user._id %>&from=myarticles"
      id="deleteArticleForm"
      class="display-none"
    >
      <input name="articleId" id="articleIdInput" type="text" />
    </form>
    <form
      action="/settings/deleteaccount/<%= data.user._id %>"
      method="POST"
      id="deleteAccountForm"
    ></form>
    <!-- Script Section -->
    <script>
      // Info button at bottom left
      const infoBtn = document.getElementById('infoBtn');
      const infoCont = document.querySelector('.info-cont');
      infoBtn.addEventListener('click', () => {
        infoCont.classList.toggle('active');
      });
      // Info button http request
      const sendMessageRequest = document.querySelector('#infoForm button');
      const messageRequest = document.getElementById('messageRequest');
      sendMessageRequest.addEventListener('click', async () => {
        if (messageRequest.value) {
          try {
            sendMessageRequest.innerText = 'Loading...';
            const response = await fetch(
              '/email/requestmessage?k=<%= data.user._id %>',
              {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                  messageRequest: messageRequest.value,
                }),
              }
            );
            const resJson = await response.json();

            if (resJson.success) {
              messageRequest.value = '';
              sendMessageRequest.innerText = 'Thanks for the feedback!';
            }
          } catch (err) {
            console.error(err);
          }
        }
      });
      // Change Name
      const newFirstname = document.getElementById('newFirstname');
      const newLastname = document.getElementById('newLastname');
      const submitNewName = document.getElementById('submitNewName');
      const namePreview = document.getElementById('namePreview');
      submitNewName.addEventListener('click', async (e) => {
        if (newFirstname.value && newLastname.value) {
          try {
            submitNewName.innerText = 'Loading...';
            const response = await fetch(
              '/settings/changename/<%= data.user._id %>',
              {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                  newFirstname: newFirstname.value,
                  newLastname: newLastname.value,
                }),
              }
            );
            const nameResJson = await response.json();
            newFirstname.style.border = '2px solid green';
            newLastname.style.border = '2px solid green';
            namePreview.innerText = `${nameResJson.updatedFirst} ${nameResJson.updatedLast}`;
            submitNewName.innerText = 'Submit!';
          } catch (err) {
            console.error(err);
          }
        }
      });
      // Change Email
      const newEmail = document.getElementById('newEmail');
      const submitNewEmail = document.getElementById('submitNewEmail');
      const emailPreview = document.getElementById('emailPreview');
      submitNewEmail.addEventListener('click', async (e) => {
        if (newEmail.value) {
          submitNewEmail.innerText = 'Loading...';
          try {
            const response = await fetch(
              '/settings/changeemail/<%= data.user._id %>',
              {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                  newEmail: newEmail.value,
                }),
              }
            );
            const jsonRes = await response.json();
            emailPreview.innerText = jsonRes.updatedEmail;
            newEmail.style.border = '2px solid green';
            submitNewEmail.innerText = 'Submit';
          } catch (err) {
            console.error(err);
          }
        }
      });
      // Change password
      const changePasswordForm = document.getElementById('changePasswordForm');
      const currentPassword = document.getElementById('currentPassword');
      const newPassword = document.getElementById('newPassword');
      const changePasswordSubmit = document.getElementById(
        'changePasswordSubmit'
      );
      changePasswordSubmit.addEventListener('click', async (e) => {
        if (newPassword.value.length >= 5 && currentPassword.value) {
          try {
            changePasswordSubmit.innerText = 'Loading...';
            const response = await fetch(
              '/settings/changepassword/<%= data.user._id %>',
              {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                  currentPassword: currentPassword.value,
                  newPassword: newPassword.value,
                }),
              }
            );
            const changePasswordJson = await response.json();
            if (changePasswordJson.passwordChanged) {
              newPassword.style.border = '2px solid green';
              currentPassword.style.border = '2px solid green';
            } else {
              currentPassword.style.border = '2px solid red';
              newPassword.style.border = 'none';
            }
            changePasswordSubmit.innerText = 'Submit!';
          } catch (err) {
            console.error(err);
          }
        }
      });
      // Logout - here and home
      const logoutBtn = document.getElementById('logoutBtn');
      const logoutForm = document.getElementById('logoutForm');
      logoutBtn.addEventListener('click', () => {
        logoutForm.submit();
      });
      const openForm = document.getElementById('openForm');
      const closeForm = document.getElementById('closeForm');
      const articleForm = document.getElementById('newArticleForm');
      const title = document.getElementById('titleInput');
      const text = document.getElementById('text');
      const characterLimit = document.getElementById('characterLimit');
      const characterLimitText = document.getElementById('characterLimitText');
      // Author shortener
      const authors = document.querySelectorAll('.author p');
      authors.forEach((author, i) => {
        if (author.innerHTML.length - 40 > 84) {
          let authorArr = author.innerHTML.split('&');
          let firstPart = authorArr[0].slice(0, 60);
          let secondPart = `&${authorArr[1]}`;
          author.innerHTML = firstPart + '...' + secondPart;
        }
      });
      title.addEventListener('input', () => {
        if (title.value.length > 50) {
          title.value = title.value.slice(0, 50);
        }
        characterLimit.innerText = `${50 - title.value.length} Characters Left`;
      });
      text.addEventListener('input', () => {
        if (text.value.length > 5000) {
          text.value = text.value.slice(0, 5000);
        }
        characterLimitText.innerText = `- ${
          5000 - text.value.length
        } Characters Left`;
      });
      openForm.addEventListener('click', () => {
        articleForm.style.visibility = 'visible';
      });
      closeForm.addEventListener('click', () => {
        articleForm.style.visibility = 'hidden';
      });

      // Loops through all articles - All pages
      const articles = document.querySelectorAll('.article');
      articles.forEach((article, i) => {
        if (article.offsetHeight > 500) {
          article.classList.add('shortenArticle');
        }
      });
      const readMoreBtns = document.querySelectorAll('.read-more');
      readMoreBtns.forEach((btn) => {
        let id = btn.id.slice(btn.id.length - 1);
        btn.addEventListener('click', () => {
          document
            .getElementById(`article${id}`)
            .classList.remove('shortenArticle');
        });
      });
      const deleteArticleForm = document.getElementById('deleteArticleForm');
      const articleIdInput = document.getElementById('articleIdInput');
      const trashIcons = document.querySelectorAll('.trash-icon');
      trashIcons.forEach((icon) => {
        let id = icon.id.slice(5);
        icon.addEventListener('click', () => {
          articleIdInput.value = id;
          deleteArticleForm.submit();
        });
      });
      const articleText = document.querySelectorAll('.article-text');
      articleText.forEach((text) => {
        let newTextArr = text.innerHTML
          .replace(/\\r\\n/gi, '<br />')
          .trim()
          .split('');
        newTextArr.pop();
        newTextArr.shift();
        newText = newTextArr.join('');
        text.innerHTML = newText;
      });

      // Start settings Menu open/close
      const openSettings = document.getElementById('openSettingsMenu');
      const closeSettings = document.getElementById('exitSettingsMenu');
      const settingsMenu = document.getElementById('settingsMenu');
      openSettings.addEventListener('click', () => {
        settingsMenu.classList.add('active');
      });
      closeSettings.addEventListener('click', () => {
        settingsMenu.classList.remove('active');
      });
      // Start -change name- menu open/close
      const changeNameMenu = document.getElementById('changeNameMenu');
      const openChangeNameMenu = document.querySelector('#openChangeNameMenu');
      const closeChangeNameMenu = document.getElementById(
        'closeChangeNameMenu'
      );
      openChangeNameMenu.addEventListener('click', () => {
        console.log('open');
        changeNameMenu.classList.add('active');
      });
      closeChangeNameMenu.addEventListener('click', () => {
        changeNameMenu.classList.remove('active');
      });
      // Start -change email- menu open/close
      const changeEmailMenu = document.getElementById('changeEmailMenu');
      const openChangeEmailMenu = document.querySelector(
        '#openChangeEmailMenu'
      );
      const closeChangeEmailMenu = document.getElementById(
        'closeChangeEmailMenu'
      );
      openChangeEmailMenu.addEventListener('click', () => {
        changeEmailMenu.classList.add('active');
      });
      closeChangeEmailMenu.addEventListener('click', () => {
        changeEmailMenu.classList.remove('active');
      });
      // Start -change password- menu open/close
      const changePasswordMenu = document.getElementById('changePasswordMenu');
      const openChangePasswordMenu = document.querySelector(
        '#openChangePasswordMenu'
      );
      const closeChangePasswordMenu = document.getElementById(
        'closeChangePasswordMenu'
      );
      openChangePasswordMenu.addEventListener('click', () => {
        changePasswordMenu.classList.add('active');
      });
      closeChangePasswordMenu.addEventListener('click', () => {
        changePasswordMenu.classList.remove('active');
      });
      // Delete Account confirmation
      const deleteAccount = document.getElementById('deleteAccountBtn');
      const deleteAccountForm = document.getElementById('deleteAccountForm');
      deleteAccount.addEventListener('click', () => {
        const confirmation = confirm(
          'Are you sure you would like to delete your account? All information and data will be deleted! This cannot be undone!'
        );
        if (confirmation) {
          deleteAccountForm.submit();
        }
      });
    </script>
  </body>
</html>
